.dashboard {
  flex: 1;
}

.dashboard-content {
  padding: 30px;
}

.dashboard-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


